#fiction-book-header,
#comics-book-header,
#young-adult-book-header,
#rcm-book-header {
  padding: 1.5rem;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

#home-trending-text {
  color: #fff;
}

#home-fiction-text {
  color: red;
}

#home-comics-text {
  color: #00ff00;
}

#home-young-adult-text {
  color: yellow;
}

#rcm-book-header {
  color: #fff;
}

#home-book-grid {
  display: grid;
  padding: 0.625rem;
  gap: 2.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 119px) {
  #home-book-grid {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 501px) {
  #home-book-grid {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 768px) {
  #home-book-grid {
    grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 1024px) {
  #home-book-grid {
    grid-template-columns: auto auto auto auto auto;
  }
}

#home-book-img {
  width: 250px;
  height: 400px;
  display: block;
}

#home-book-img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

#home-book-title {
  text-align: center;
  font-size: 20px;
  width: 250px;
  color: #cfcccc;
  padding-top: 1.5rem;
}

#home-book-title:hover {
  color: #ab07c1;
  transition: color 0.5s;
}

#spinner {
  width: fit-content;
  margin: auto;
}